@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* reset style */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
input,textarea{
    width: 70%;
    margin: 8px 15%;
    padding: 8px;
    border-radius: 20px;
    border:1px solid rgb(104, 101, 101);
    text-align: center;
}


/* base style */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.btn{
    border: 3px solid black;
    padding: 5px;
    border-radius: 20px;
    width: 60%;
    margin: 8px auto ;
    color: black;
   
   }
.btn:hover{
    color: white;
    background-color: black;
    
}
/* Navbar */
header{
     background-color: black;
}
.hero{
  background-color:sandybrown;
}
.container.flex{
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
    border-radius: 50%;
}
ul.nav li a{
    color: white;
}
ul.nav li a:hover{
    border-bottom:3px solid white;

}
.logo h1{
    color: white;
}
/* Hero Section */

.welcome_img img{
    width: 100%;
}
.welcome_text h1{
 font-family: cursive;
 font-size: 1.7em;
 
}
.welcome_text h3{
   font-family:'Lucida Sans',  Geneva, Verdana, sans-serif;
   font-size: 1.3em; 
}
.welcome_text p{
 margin-bottom: 15px;
}
/* services */
.services{
    background-color: deepskyblue;
    color: rgb(10, 10, 10);
    text-align: center;
}
.services h1{
    text-align: center;
    font-size: 1.6em;
}
.services .grid{
  grid-template-columns: 1fr;
}
.services .grid img{
   width: 100%;
}
.grid div{
    width: 75%;
    background-color: rgb(245, 237, 237);
    margin: 10px auto;
    padding: 10px;
    box-shadow: 8px 8px 15px gray;
    border-radius: 20px;
}

/* skills */
.skill{
    background-color: rgb(95, 92, 92);
}
.skill h1{
    text-align: center;
    padding-top: 10px;
    font-size: 1.6em;
}
.skills div{
    text-align: center;
    margin: 10px auto;
}
.skills.grid{
    grid-template-columns: 1fr;
}
.skills div{
    width: 60%;
}
.skills h3{
    font-size: 1.5em;
}
.form{
    background-color: rgb(238, 219, 195);
    padding: 20px;
}
form{
    background-color: rgb(240, 227, 45);
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
.form h2{
    text-align: center;
}
.form a{
    margin: 15px 25%;
}

footer{
    background-color: black;
    color: white;
}
footer .flex{
    background-color: rgb(131, 121, 121);
    color: black;
    padding: 6px;
}
footer img{
    width: 40px;
    margin: 10px 5px;
}
/* Small Tablet */
@media  screen and (min-width:510px) {
   ul.nav{
       display: flex;
   } 
   ul.nav a{
       margin: 0 10px;
       font-size: 1.2em;
   }
   .welcome_text h1{
       font-size: 1.8em;
   }
   .welcome_text h3{
       font-size: 1.5em;
   }
   .welcome_text p{
       font-size: 1.2em;
   }
   .services h1{
       font-size: 1.8em;
   }
   .services .grid{
     grid-template-columns: repeat(8,1fr);
   }
   .one{
       grid-column: 1/5;
   }
   .two{
       grid-column: 5/9;
   }
   .four{
       grid-column: 3/7;
       grid-row: 2;
   }
   .services a.btn{
       margin: 10px 25%;
       padding: 5px 10px;
   }
   .skills div{
       width: 53%;
   }
    
    form{
   width: 60%;
   }
   footer .flex{
       justify-content: space-around;
   }
   
}
@media screen and (min-width:650px){
   form{
   width: 50%;
   } 
   
}
@media screen and (min-width:900px){
   form{
   width: 40%;
   } 
   .skills.grid {
       grid-template-columns: repeat(2,1fr);
    }
    .skills div{
        width:70%;
    }
}
@media screen and (min-width:1100px){
    .skills.grid {
       grid-template-columns: repeat(3,1fr);
    }
    
}