*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
   
}
.navbar{
    display: flex;
    align-items: center;
     padding: 20px; 
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    display: flex;
    margin: 60px;
}
nav ul li{
    /* display: inline-block; */
       margin-right: 20px;

}
.logo img{
    border-radius: 20px;
    mix-blend-mode: overlay;
    opacity: 0.5;
}
.header .row{
    margin-top: 70px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul li a:hover,nav ul li a:active{
    color: rgb(235, 41, 105);
    font-size: 1.4em;

}

p{
    color:rgb(235, 25, 140);
    font-size: 20px;
    line-height: 22px;
    margin: 10px;

}
h1{
    color: rgb(20, 20, 20);
}
.container{
    /* max-width: 1300px; */
    margin: auto;
    padding: 0 25px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.btn{
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    margin: 30px 0;
    color: rgb(228, 231, 46);
    background-color:#ff523b;
    transition: .9s;
    font-size: 30px;
}
.btn:hover{
    transform: translateY(-15px);
    background-color: black;
}
.header{
    background: radial-gradient(#fff,#e25a5a);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-top: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background-color: rgb(243, 19, 194);
    width: 80px;
    height: 5px;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: rgba(219, 87, 70, 0.904);
   
}
.col-4:hover{
    transform: translateY(-15px);
}
.offer{
    background: radial-gradient(#fff,#e25a5a);
    margin-top: 80px;
    padding: 30px 0;
}
.offer-img{
     padding: 50px; 
}
small{
    color:rgb(243, 19, 243);
    margin: 10px;
}

/* testimonial */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-20px);
}
.fa.fa-quote-left ,.fa.fa-quote-right{
    font-size: 30px;
    color: orangered;
}
.col-3 p{
    font-size: 15px;
    margin:12px 0 ;
}
.col-3 h3{
    font-weight: 300px;
    color: rgb(231, 18, 224);
    text-align: center;
}
/* brands */
.brand{
    margin: 100px auto;
}
.col-5{
    width: 160px;

}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
 /* footer */
 .footer{
     background-color: #000;
     color: #8a8a8a;
     font-size: 14px;
     padding: 60px 0 20px;
 }
 .footer p{
     color: rgb(235, 214, 25);

 }
 .footer h3{
     color: white;
     margin-bottom: 20px;

 }
 .footer-col-1 ,.footer-col-2 ,.footer-col-3 ,.footer-col-4{
     min-width: 250px;
     margin-bottom: 20px;

 }
 .footer-col-1{
     flex-basis: 30%;
 }
 .footer-col-2{
    flex: 1;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul  li{
    list-style-type: none;
}
.app-logo{
    margin-top: 10px;
}
.app-logo img{
    width: 140px;
    transition: transform 0.5s;
}
.app-logo img:hover{
    transform: translateY(-10px);
}
.copy{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
img.social{
    width: 35px;
    transition: transform 0.5s;
   
}

img.social:hover{
    transform: translateX(-20px);
}
img.index{
    width: 80px;
    border-radius: 10px;
    transition: transform 0.5s;
}
img.index:hover{
    transform: translateY(-20px);
}
 /* all product */
.row-2{
  display:flex;
 justify-content: space-around;
 }
select{
    border:3px solid rgb(224, 9, 196);
    padding: 5px;
    border-radius: 4px;
}
select:focus{
    outline:none;
}
.buy-btn{
    background-color:rgb(235, 91, 203) ;
    padding: 5px;
    box-shadow: 3px 3px rgb(43, 167, 216);
    color: rgb(63, 206, 211);
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black; 

}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #777474;
    padding: 8px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;

}
.page-btn span:hover,.page-btn span:active
{
    color: black;
    background-color: rgb(228, 122, 122);
}
/* media query menu */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 65px;
        right: 0px;
        background: rgb(238, 162, 162);
        width: 150px;
        display: inline;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
}
/* media query for size less than 600px */
@media only screen and (max-width:800px){
    .row{
        text-align: center;

    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
        
    }
    .single-product .row{
        text-align: left;

    }
    .single-product .col-2{
        padding:20px 0;
    }
    .single-product h1{
        font-size: 26px;
    }
    .cart-info p{
        display: none;
    }
  .about{
      width: 100%;
      margin: 20px;
  }  
  div.company{
    border: 3px solid black;
    
    background: rgb(188, 226, 18);
    margin:40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

}
/*single product detail*/
.single-product{
    margin-top: 80px;

}
.single-product .col-2{
    padding: 20px;
}
.single-product .col-2 img{
    padding: 0;

}
.single-product h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.single-product select{
    padding: 10px;
    display: block;
    margin-top: 20px;
}
.single-product input{
    width: 75px;
    height: 25px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 3px solid rgb(223, 45, 154);
    border-radius: 4px;
}
.single-product .fa{
    color:chocolate;
    margin: 10px;
    
}
.small-img-row{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}
/* cart items*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap:wrap ;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color:orangered ;
    font-weight: normal;
}
td{
    padding: 10px 5px;

}
td input{
    width: 75px;
    height: 25px;
    padding: 5px;
}
td a{
    text-decoration: none;
    color: orangered;
    cursor: pointer;
    font-size: 15px;

}
td img{
    width: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid orangered;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*Account page*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#e04545);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.form-container span{
    font-weight: bold;
    color: rgb(231, 10, 231);
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
 .form-btn{
    display: inline-block;
    width: 100%;
    border: none;
    cursor: pointer;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
     position: absolute;
     top: 130px; 
} 
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid black;
} 
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginform{
    left: -300px;
}
#regform{left: 0;}
form a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(202, 50, 23);
}
#indicator{
    width: 100%;
    border: none;
    background-color: rgb(159, 90, 224);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}
/*Login*/

.center{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    background:brown; 
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solidsilver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;

}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size:16px;
    border: none;
    background: none;
    outline: none;

}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;

}
.txt_field input:valid~label,
.txt_field input:focus~label{
    top: -5px;
    color: #2691d9;

}
.txt_field input:valid~span::before,
.txt_field input:focus~span::before{
    width: 100%;

}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: none;

}
input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
}
.signup_link{
    margin: 30px 0 ;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;

}
.signup_link a:hover{
    text-decoration: underline;
    
}
/*about us*/
h1.head{
    font-size: 50px;
    text-align: center;
    color: #e04545;
    font-style: italic;
}
p.head{
    text-align: center;
    font-size: 30px;
    color: rgb(169, 16, 216);
}
p.article{
    word-spacing: 10px;
    font-size: 20px;
   
    padding: 20px;
   text-align: center;
   
   
}
.company{
    border: 3px solid black;
    text-align: center;
    background: rgb(188, 226, 18);
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1080px;
}
.founder img{
    border: 4px solid black;
    border-radius: 15px;
    /* margin: 30px 680px; */

}
div.founder{
    max-width: 1080px;
    background:rgb(188, 226, 18);
    text-align: center;
    margin: 100px;
    padding: 25px;
    border: 5px solid black;
}
.col-3.review{
    background: blanchedalmond;
}
/*Designing payment.html*/
div.pay{
    background: rgb(230, 222, 222);
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;

}

.pay input[type="text"],input[type="email"],input[type="number"],input[type="date"],.pay input[type="password"]
{
    max-width: 80%;
    margin-left: 50px;
    border: solid black;
    border-radius: 5px;
}
 .pay input[type="button"]{
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}
.pay input[type="button"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
    transform: translateY(-15px);
}
.pay form h1{
    text-align: center;
    font-size:2em;
    color: rgb(15, 206, 72);
}
.pay form h3{
    color: tomato;
    font-size: 1.5em;
    text-align: center;
}
.pay form textarea{    
    max-width: 80%;
    height: 50px;
    border: solid black;
    border-radius: 5px;
    
}
@media only screen and (max-width:600px){
    div.pay{
        width: 100%;
        margin: 10px;
    }
    .pay input[type="text"],input[type="email"],input[type="number"],input[type="date"],.pay input[type="password"]{
        width: 70%;
    }

    .pay form textarea{    
        max-width:70%;}
}